html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: #f1f2f6;
  background-image: url('https://www.transparenttextures.com/patterns/dark-stripes-light.png');
  font-size: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #f1f2f6;
  background-image: url('https://www.transparenttextures.com/patterns/dark-stripes-light.png');
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: stretch;
  padding-top: 1vh;
}

/* ++++++++MEDIA QUERY ABOVE 1024PX++++++++ */
@media (min-width: 1021px) {
  body {
    display: flex;
    color: #545149;
    background-color: #f1f2f6;
    background-image: url('https://www.transparenttextures.com/patterns/dark-stripes-light.png');
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  main {
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 20vh;
    background-color: #f1f2f6;
    background-image: url('https://www.transparenttextures.com/patterns/dark-stripes-light.png');
    width: 60%;
  }
}

/* ++++++++MEDIA QUERY 768PX++++++++ */
@media (max-width: 768px) {
  body {
    display: flex;
    color: #545149;
    background-color: #f1f2f6;
    background-image: url('https://www.transparenttextures.com/patterns/dark-stripes-light.png');
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
  }

  main {
    display: flex;
    flex-direction: column;
    background-color: #f1f2f6;
    background-image: url(https://www.transparenttextures.com/patterns/dark-stripes-light.png);
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: stretch;
    padding-top: 1vh;
  }
}

/* ++++++++MEDIA QUERY 768PX++++++++ */
@media (max-width: 820px) {
  body {
    display: flex;
    color: #545149;
    background-color: #f1f2f6;
    background-image: url('https://www.transparenttextures.com/patterns/dark-stripes-light.png');
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
  }

  main {
    display: flex;
    flex-direction: column;
    background-color: #f1f2f6;
    background-image: url(https://www.transparenttextures.com/patterns/dark-stripes-light.png);
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: stretch;
    padding-top: 1vh;
  }
}
