/* CSS style for the nav bar */

nav {
  display: flex; 
  width: 100vw;
  height: 120px;
  top: 0;
  justify-content: space-between; 
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
  position: fixed;
  padding: 1.5em;
}

/* .nav-link {
  margin: 1.5em; 
} */

/* nav p {
  display: flex; 
  align-items: center;
  margin: 1.5em;
} */

.right-side-nav {
  display: flex; 
  align-items: center;
  margin: 1.5em;

}

.bolded {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

#logo {
  /* display: flex; 
  align-items: center; */
  font-family:'Bungee', sans-serif;
  /* margin: 1.5em; */
  font-size: 30px; 
}

.fa-angle-double-down {
  display: flex;
  justify-content: center;
  color: red;
}