nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Source Sans Pro', sans-serif;
  height: 120px;
  background-color: #4056a1;
  color: #ffffff;
  position: absolute;
  width: 100%;
}

.right-side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5em;
}

.right-side-nav p {
  margin-bottom: 0.2em;
}

.bolded {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

#logo {
  display: flex;
  align-items: center;
  font-family: 'Bungee', sans-serif;
  margin: 1.5em;
}
.scroll {
  border: none;
  color: goldenrod;
}

/* ++++++++MEDIA QUERY ABOVE 1024PX++++++++ */
@media (min-width: 1024px) {
  nav {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 0.2vw;
    position: absolute;
  }
}

/* ++++++++MEDIA QUERY BELOW 768PX++++++++ */
@media (max-width: 768px) {
  .right-side-nav {
    margin: 0.25em 0.75em 0.25em 0.25em;
  }

  #logo {
    margin: 0.25em 0.25em 0.25em 0.75em;
  }

  nav span {
    font-size: 28px;
  }
}

/* ++++++++MEDIA QUERY FOR 414PX (XR)++++++++ */
@media (max-width: 414px) {
  nav {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Source Sans Pro', sans-serif;
    height: 7rem;
    background-color: #4056a1;
    color: #ffffff;
    position: fixed;
    width: 100%;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    flex-direction: column;
  }
}

/* ++++++++MEDIA QUERY FOR 820PX (XR)++++++++ */
@media (max-width: 820px) {
  body {
    display: flex;
    color: #545149;
    background-color: #f1f2f6;
    background-image: url(https://www.transparenttextures.com/patterns/dark-stripes-light.png);
    font-size: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
  }
}
