.new-tweet {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5em;
  }
 
.new-tweet h2{
  width:75%
}

  form {
    display: flex; 
    flex-direction: column;
    width: 75%; 
  }
 
  #tweet-text {
  min-width: 100%;
  max-width: 100%;
  margin-top: .3em;
  border-style: hidden;
  border-bottom: 5px solid  #545149; 
  background-color: #F6F2ED;
  resize: none; 
  font-weight: 600; 
  line-height: 1;
  overflow-y: auto;
  }
 
  .under-tweet-input{
    display: flex; 
    justify-content: space-between;
    margin-top: 5px;
    padding: 0em 0em 1em;
  }
 
  button {
    display: flex; 
    align-items: center;
    font-family:'Bungee', sans-serif;
    background-color: #4056A1;
    color: #F6F2ED;
    padding: 0.2em 0.5em;
  }
  .tweet-btn {
    border: none !important; 
    background-color: #4056a1;
    color: #ffffff;
    font-family: "Bungee", "sans-serif";
    padding: 5px 12px;
    cursor: pointer;
  }
 
  .counter {
    font-family:'Bungee', sans-serif;
    float: right; 
  }

  .invalid {
    color: #FF0000
  }