.new-tweet {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 1.5em;
}

.new-tweet h2 {
  width: 75%;
}

form {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.tweet-text {
border-style: hidden;
border-bottom: 5px solid  #545149;
background-color: #D1DDEF;
resize: none;
font-weight: 600;
line-height: 1;
}

.under-tweet-input{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

button {
  display: flex;
  align-items: center;
  font-family:'Bungee', sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
}

.counter {
  font-family:'Bungee', sans-serif;
  float: right;
}

.error {
  background-color: mediumvioletred;
  opacity: .75;
  text-align: center;
  color: #FFFFFF;
  font-weight: 600;
  border: solid 3px mediumvioletred;
  border-radius: 5px;
  font-size: 24px;
}

/* ++++++++MEDIA QUERY ABOVE 1024PX++++++++ */
@media (min-width: 1024px) {
  .new-tweet h2 {
  font-size: 24px;
  width: 95%;
  padding-top: 5%;
  }

  form {
    margin: .5em;
    width: 95%;
  }

.tweet-text {
  background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
  background-color: #ffffff;
  }

.error {  
  font-size: 22px;
  }
}

/* ++++++++MEDIA QUERY BELOW 768PX++++++++ */
@media (max-width: 768px) {
 .new-tweet {
   margin-bottom: 5px;
 }

 .new-tweet h2 {
   width: 95%;
   font-size: inherit;
 }

 form {
   width: 95%;
 }
}
