.tweet-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.tweet {
  width: 80%;
  margin: 1em;
  border: 5px solid #545149;
}

.tweet:hover {
  box-shadow: 5px 10px #524848;
}

.th-header {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  width: 90%;
}

.name-left {
  display: flex;
}

.name-left h3 {
  margin-left: 2rem;
}

.th-header h3 {
  font-weight: 300;
}

.th-header img {
  max-height: 4rem;
  max-width: 4rem;
}

.display-tweet {
  margin: 1em;
  border-style: hidden;
  border-bottom: 5px solid #545149;
  font-weight: 300;
  line-height: 1;
  word-wrap: break-word;
}

#userID {
  opacity: 0.5;
}

.tweet:hover #userID {
  opacity: 1;
  font-weight: bold;
}

#heart:hover {
  color: goldenrod;
}

#retweet:hover {
  color: goldenrod;
}

#flag:hover {
  color: goldenrod;
}

.tweet-history footer {
  margin: 1em;
  display: flex;
  justify-content: space-between;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8vw;
  margin-right: 1rem;
}

/* ++++++++MEDIA QUERY ABOVE 1024PX++++++++ */
@media (min-width: 1024px) {
  .tweet-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .tweet {
    width: 95%;
  }

  .name-left h3 {
    margin-left: 0.4rem;
    margin-top: 0.5rem;
  }
}

/* ++++++++MEDIA QUERY BELOW 768PX++++++++ */
@media (max-width: 768px) {
  .tweet {
    width: 95%;
  }

  #heart {
    margin: 3px;
  }

  #retweet {
    margin: 3px;
  }

  #flag {
    margin: 3px;
  }

  .icons {
    width: auto;
  }

  .tweet p {
    margin: 0.5em;
  }

  .tweet footer {
    margin: 0.3em;
  }

  footer p {
    font-size: 14px;
  }

  .th-header {
    margin: 0.5em;
    flex-wrap: wrap;
  }

  p {
    font-size: 24px;
  }

  .display-tweet {
    margin: 5px;
  }
  .th-header img {
    max-height: 3rem;
    max-width: 3rem;
    margin-top: 1rem;
  }
  .th-header h3 {
    font-weight: 300;
    font-size: 2rem;
    margin-left: 0.3rem;
  }
}
